<footer class="pb-70">
    <!--<div class="newsletter-area">
        <div class="container">
            <div class="row newsletter-wrap align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-item">
                        <h2>Join Our Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="newsletter-item">
                        <div class="newsletter-form">
                            <form class="newsletter-form">
                                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL">
                                <button class="btn newsletter-btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>Contactanos</h3>
                        <ul>
                            <li>
                                <i class="icofont-ui-message"></i>
                                <a href="dentalstudiohon@gmail.com">dentalstudiohon@gmail.com</a>
                            </li>
                            <li>
                                <p>Mall Multiplaza</p>
								<i class="icofont-stock-mobile"></i>
                                <a href="+504 22433764">+504 2243-3764</a>
                                <a href="+504 94950002">+504 9495-0002</a>
                            </li>
							<li>
								<p>Mall La Galeria</p>
								<i class="iconfont=stock-mobile"></i>
								<a href="+504 22035317">+504 2203-5317</a>						
								<a href="+504 3226104">+504 3221-6104</a>
								
							</li>
                            <li>
                                <i class="icofont-location-pin"></i>
                                <p>205B Mall La Galeria, Lomas del Guijarro, Tegucigalpa M.D.C., Honduras</p>
								<p>Mall Multiplaza, Av. Roble, Tegucigalpa M.D.C., Honduras</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>Busca Rapida</h3>
                        <ul>
                            <li><a routerLink="/about">Acerca de Nosotros</a></li>
                            <li><a routerLink="/faq">Preguntas Frequentes</a></li>
                            <li><a routerLink="/doctor">Especialistas</a></li>
                            <li><a routerLink="/contact">Contactanos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>Nuestros servicios</h3>
                        <ul>
                            <!-- todo all services -->
							<li><a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Diseño de Sonrisas</a></li>
                            <li><a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Bichectomia</a></li>
                            <li><a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Cirujia en Cordales</a></li>
                            <li><a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Odontologia General</a></li>
                            <li><a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Ortodoncia</a></li>
                            <li><a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Odontopediatria</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright-area">
    <div class="container">
        <div class="copyright-item">
            <p>Copyright © 2020 DENTAL STUDIO. Desarrollado por <a href="https://www.linkedin.com/in/igor-zelaya-0244a21a9/" target="_blank">Igor A. Zelaya</a></p>
        </div>
    </div>
</div>