<footer class="pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>{{ "contactUs" | translate }}</h3>
                        <ul>
                            <li>
                                <i class="icofont-ui-message"></i>
                                <a href="mailto:{{ dampharm?.email }}">{{
                                    dampharm?.email
                                }}</a>
                            </li>
                            <li>
                                <p>{{ "phone" | translate }}</p>
                                <i class="icofont-stock-mobile"></i>
                                <ng-container
                                    *ngFor="let phone of dampharm?.phones"
                                >
                                    <a href="https://api.whatsapp.com/send?phone={{ phone?.code }} {{ phone?.mob }}&amp;text=I%27m%20interested%20in%20Dam%20Pharm%20Products"
                                        >{{ phone?.code }} {{ phone?.mob }}</a
                                    >
                                </ng-container>
                            </li>

                            <li>
                                <p>{{ "address" | translate }}</p>
                                <i class="icofont-location-pin"></i>
                                <p>{{ dampharm?.address }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>{{
                            "quik" | translate
                        }}</h3>
                        <ul>
                            <!-- <li>
                                <a routerLink="/about">{{
                                    "aboutUs" | translate
                                }}</a>
                            </li> -->
                            <!-- <li>
                                <a routerLink="/faq">{{
                                    "freq" | translate
                                }}</a>
                            </li> -->
                            <li>
                                <a routerLink="/doctor">{{
                                    "specialists" | translate
                                }}</a>
                            </li>
                            <li>
                                <a routerLink="/contact">{{
                                    "contactUs" | translate
                                }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-quick">
                        <h3>{{ "services" | translate }}</h3>
                        <ul *ngFor="let item of dampharm?.products">
                            <li>
                               <a   [queryParams]="{ name: item?.slug }"
                               [routerLink]="['/product-details']">{{getName(item)}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright-area">
    <div class="container">
        <div class="copyright-item">
            <p>
                Copyright © {{year}} DamPharm.
            </p>
        </div>
    </div>
</div>
