<div class="page-title-area page-title-five">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-item">
                <h2>{{ "contactUs" | translate }}</h2>
                <ul>
                    <li>
                        <a routerLink="/">{{ "home" | translate }}</a>
                    </li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>{{ "contactUs" | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="location-area">
    <div class="container">
        <div class="row location-wrap">
            <div class="col-sm-6 col-lg-4">
                <div class="location-item">
                    <i class="icofont-location-pin"></i>
                    <h3>{{ "address" | translate }}</h3>
                    <ul>
                        <li>{{ dampharm?.address }}</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="location-item">
                    <i class="icofont-ui-message"></i>
                    <h3>{{ "email" | translate }}</h3>
                    <ul>
                        <li>
                            <a href="mailto:{{ dampharm?.email }}">{{
                                dampharm?.email
                            }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                <div class="location-item">
                    <i class="icofont-ui-call"></i>
                    <h3>{{ "phone" | translate }}</h3>
                    <ul *ngFor="let phone of dampharm?.phones">
                        <li>
                            <a
                                href="https://api.whatsapp.com/send?phone={{
                                    phone?.code
                                }} {{
                                    phone?.mob
                                }}&amp;text=I%27m%20interested%20in%20Dam%20Pharm%20Products"
                                >{{ phone?.code }} {{ phone?.mob }}</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-map-area">
    <div id="map">
        <iframe
            [src]="url"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
        ></iframe>
    </div>
</div>
