<div class="page-title-area page-title-four">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-item">
                <h2>Servicios</h2>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><i class="icofont-simple-right"></i></li>
                    <li>Servicios</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="services-area pb-70">
    <div class="container">
        <div class="section-title" style="margin-top:10px">
            
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".3s">
                <div class="service-item">
                    <div class="service-front">
                        <i class="icofont-tooth"></i>                      
						<h3>Diseño de Sonrisas</h3>
                    </div>
                    <div class="service-end">                        
						<i class="icofont-tooth"></i>                       
						<h3>Diseño de sonrisas</h3>
                        <p>
							El diseño de sonrisa es el resultado de un 
							conjunto de procedimientos que se realizan para establecer 
							una armonía entre nuestras características faciales y nuestra boca (Diente y encía).	
						</p>
  						<a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas Informacion </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".5s">
                <div class="service-item">
                    <div class="service-front">
                        <i class="icofont-tooth"></i>                       
						<h3>Bichectomia</h3>
                    </div>

                    <div class="service-end">
                         <i class="icofont-tooth"></i>                      
						<h3>Bichectomia</h3>
                        <p>
							La bichectomia o extirpación de las bolsas grasas de Bichat— consiste en la reducción quirúrgica 
							del exceso de grasa de las mejillas, obteniendo un rostro más definido.
						</p>
						<a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas Informacion</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".7s">
                <div class="service-item">
                    <div class="service-front">
                        <i class="icofont-tooth"></i>                       
						<h3>Cirugia en Cordales</h3>
                    </div>

                    <div class="service-end">
                         <i class="icofont-tooth"></i> 
						<h3>Cirugia en Cordales</h3>
                        <p>
							La cirugía de cordales es una intervención simple, mínimamente invasiva y casi indolora que se 
							lleva a cabo para extraer las muelas del juicio (también denominadas cordales). La técnica quirúrgica consiste en anestesiar, 
							con anestésico local, la zona periférica de la pieza a extraer.
						</p>
                    	<a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas informacion</a> 
					</div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".9s">
                <div class="service-item">
                    <div class="service-front">
                        <i class="icofont-tooth"></i>
                        <h3>Odontologia General</h3>                       
                    </div>

                    <div class="service-end">
                        <i class="icofont-tooth"></i>
                        <h3>Odontologia General</h3>
                        <p>
							La Odontología General (Operatoria o Restauradora) es la encargada de 
							solucionar los problemas primarios que tienen que ver con la boca, 
							dientes y otras estructuras relacionadas.
						</p>
                        <a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas Informacion</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".3s">
                <div class="service-item">
                    <div class="service-front">
                        <i class="icofont-tooth"></i>
                        <h3>Ortodoncia</h3>
                    </div>

                    <div class="service-end">
                        <i class="icofont-tooth"></i>
                        <h3>Ortodoncia</h3>
                        <p>
							Parte de la odontología que se ocupa de corregir 
							los defectos y las irregularidades de posición de los dientes.
						</p>
                        <a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas Informacion</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".5s">
                <div class="service-item">
                    <div class="service-front">
                         <i class="icofont-tooth"></i>
						<h3>Odontopediatria</h3>
                    </div>

                    <div class="service-end">
                        <i class="icofont-tooth"></i>
                        <h3>Odontopediatria</h3>
                        <p>							
                        	Esta disciplina está encargada de explorar a los recién nacidos y niños, además 
							también se ocupa de descubrir posibles anomalías en el lugar de los dientes o maxilares para referir a un ortodoncista, 
							estos son los expertos en ortodoncia y de 
							realizar un método reconstructor en caso de requerirlo.
						</p>
						<a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas Informacion</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".7s">
                <div class="service-item">
                    <div class="service-front">
                        <i class="icofont-tooth"></i>                      
                        <h3>Implantes Dentales</h3>
                    </div>

                    <div class="service-end">
                        <i class="icofont-tooth"></i>                     
						<h3>Implantes Dentales</h3>
                        <p>
							El implante dental es un producto sanitario diseñado para sustituir la raíz que falta y mantener 
							el diente artificial en su sitio. Habitualmente tiene forma roscada y está fabricado con materiales biocompatibles que no producen 
							reacción de rechazo y permiten su unión al hueso.
						</p>
                        <a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas Informacion</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".9s">
                <div class="service-item">
                    <div class="service-front">
                        <i class="icofont-tooth"></i>
						<h3>Endodoncia</h3>
                    </div>

                    <div class="service-end">
                        <i class="icofont-tooth"></i>
						<h3>Endodoncia</h3>
                        <p>
							Se llama endodoncia, de endo (interior) y odontos (diente), a un tipo de tratamiento que se realiza en odontología. Consiste en la 
							extirpación de la pulpa dental y el posterior relleno y sellado de 
							la cavidad pulpar con un material inerte con la finalidad de aliviar el dolor.
						</p>
                        <a routerLink="https://www.book-me.in/home?accountId=DENTALSTUDIO">Mas Informacion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="expertise-area pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Lo que ofrecemos</h2>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="expertise-item">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                        	<div class="expertise-inner">
                                    <i class="icofont-doctor-alt"></i>
                                    <h3>Doctores Certificados</h3>
                                    <p>Nuestros dentistas son profesionales experimentados, no dudes en poner tu salud en manos de ellos.</p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="expertise-inner">
                                    <i class="icofont-stretcher"></i>
                                    <h3>Emergencias</h3>
                                    <p>Tu salud es nuestra prioridad, nuestro staff esta listo para cualquier emergencia o complicacion que tu les presentes.</p>
                                </div>  
                        </div>

                        <div class="col-sm-6 col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="expertise-inner">
                                    <i class="icofont-network"></i>
                                    <h3>Tecnologia</h3>
                                    <p>En Dental Studio contamos con la tecnologia necesaria para que disfrutes de la mejor experiencia en nuestras clinicas.</p>
                                </div>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="expertise-item">
                    <div class="expertise-right">
                        <img src="assets/img/stafflookingatcamera.jpg" alt="Expertise" style="width: 450px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>