<div class="page-title-area page-title-three">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="page-title-item-two">
                <h2 *ngIf="doctor?.name">
					{{doctor?.name}}
				</h2>
                <h3 *ngIf="doctor?.position">
					{{doctor?.position}}
				</h3>
                <p *ngIf="doctor?.position">{{doctor?.position}}</p>
            </div>
        </div>
    </div>
</div>

<div class="doctor-details-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="doctor-details-item doctor-details-left">
                    <img src="{{doctor?.img}}" alt="Doctor">

                    <div class="doctor-details-contact">
                        <h3>Contact information</h3>
                        <ul>
                         
                            <li><i class="icofont-ui-message"></i>  <a href="mailto:{{ dampharm?.email }}">{{
                                dampharm?.email
                            }}</a></li>
                            <!-- <li><i class="icofont-location-pin"></i>{{dentist.dentistClinic1}}</li>  -->
                        </ul>

                        <ul *ngFor="let phone of dampharm?.phones">
                            <li>
                                <a
                                    href="https://api.whatsapp.com/send?phone={{
                                        phone?.code
                                    }} {{
                                        phone?.mob
                                    }}&amp;text=I%27m%20interested%20in%20Dam%20Pharm%20Products"
                                    ><i class="icofont-ui-call"></i> {{ phone?.code }} {{ phone?.mob }}</a
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="doctor-details-work">
                        <h3>Work hours</h3>
                        <div class="appointment-item-two-right">
                            <div class="appointment-item-content">
                                <div class="content-one">
                                    <ul>
                                        <li>Saturday</li>
                                        <li>Sunday</li>
                                        <li>Monday</li>
                                        <li>Tuesday</li>
                                        <li>Wednesday</li>
                                        <li>Thursday</li>
                                    	<li>Friday</li>
									</ul>
                                </div>
                                <div class="content-two">
                                    <ul>
                                        <li>9:00 am - 8:00 pm</li>
                                        <li>9:00 am - 8:00 pm</li>
                                        <li>9:00 am - 8:00 pm</li>
                                        <li>9:00 am - 8:00 pm</li>
                                        <li>9:00 am - 8:00 pm</li>
                                    	<li>9:00 am - 8:00 pm</li>
										<li>9:00 am - 8:00 pm</li>
									</ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="doctor-details-item">
                    <div class="doctor-details-right">
                        <div class="doctor-details-biography">
                            <h3>Biography</h3>
                            <p>{{doctor?.about}}</p><br>
                        </div>

                        <div *ngIf="doctor?.education" class="doctor-details-biography">
                            <h3>Education</h3>
                            <p>{{doctor?.education}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

